<?xml version="1.0" encoding="UTF-8"?>
<gui name="KLife"
	version="1"
	xmlns="http://www.kde.org/standards/kxmlgui/1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
		http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
	
	<MenuBar>
		<Menu name="file" >
			<Action name="new" />
			<Action name="open" />
		</Menu>

		<Menu name="edit" >
			<Action name="draw-freehand" />
			<Action name="draw-line" />
			<Action name="draw-rectangle" />
			<Action name="draw-circle" />
		</Menu>

		<Menu name="control" >
			<text>Control</text>
			<Action name="step" />
		</Menu>
	</MenuBar>
	
	<ToolBar name="mainToolBar" >
		<text>Main Toolbar</text>
		<Action name="new" />
		<Action name="open" />
	</ToolBar>
</gui>
